In [ ]:
# нижнее подчёркивание _ сохраняет результат последней операции

# нижнее подчёркивание можно использовать, как имя неважной переменной

# нижнее подчёркивание можно использовать для создания приватных методов в классах

In [1]:
square = lambda x: x**2
square(5)

25

In [2]:
# лямбда-функции для сортировки
people = [
    ('Nastya', 29),
    ('Ivan', 12),
    ('Masha', 56),
    ('Petya', 34)
]

sorted(people, key=lambda person: person[1])

[('Ivan', 12), ('Nastya', 29), ('Petya', 34), ('Masha', 56)]

In [3]:
# лямбда-функции для сортировки
people = (
    {'name' : 'Bob', 'height' : 189}, 
    {'name' : 'Ada', 'height' : 178}, 
    {'name' : 'Nicolas', 'height' : 195}
)

sorted(people, key=lambda person : person['height'])

[{'name': 'Ada', 'height': 178},
 {'name': 'Bob', 'height': 189},
 {'name': 'Nicolas', 'height': 195}]

In [4]:
strings = ['apple', 'banana', 'orange', 'kiwi']
sorted(strings, key=lambda x: len(x))

['kiwi', 'apple', 'banana', 'orange']

In [5]:
# лямбда-функция для вызова другой функции, функциональное программирование 
def outer_function(func):
    return func(5)

def inner_function(x):
    return x * 2

result = outer_function(lambda x: inner_function(x))
print(result)  # Output: 10

10

In [9]:
def outer_function(func):
    result = func(5)
    return result

def inner_function(x):
    return x * 2

result = outer_function(inner_function(2))
print(result)

TypeError: 'int' object is not callable

In [10]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
list(filter(lambda x: x % 2 == 0, numbers))

[2, 4, 6, 8]

In [11]:
numbers = [1, 2, 3, 4, 5]
list(map(lambda x: x**2, numbers))

[1, 4, 9, 16, 25]

In [12]:
# map позволяет избегать циклов
names = ['yAnG', 'MASk', 'thoMas', 'LISA']
list(map(str.capitalize, names))

['Yang', 'Mask', 'Thomas', 'Lisa']

In [13]:
# использование zip() для одновременного итерирования по нескольким объектам

names = ['Jack', 'Dan', 'May', 'Jim']
ages = (12, 34, 56, 78, 91, 23, 45)
colors = {'blue', 'red', 'green', 'yellow', 'maroon', 'black', 'gray'}

for name, age, color in zip(names, ages, colors):
    print(name, age, color)

Jack 12 yellow
Dan 34 black
May 56 gray
Jim 78 maroon

In [14]:
names = ['Jack', 'Dan', 'May', 'Jim']
ages = (12, 34, 56, 78, 91, 23, 45)
colors = {'blue', 'red', 'green', 'yellow', 'maroon', 'black', 'gray'}

list(zip(names, ages, colors))

[('Jack', 12, 'yellow'),
 ('Dan', 34, 'black'),
 ('May', 56, 'gray'),
 ('Jim', 78, 'maroon')]

In [15]:
# распаковка элементов
a, b, c = '123'
print(a, b, c)

1 2 3

In [16]:
a, b, *c = '12345'
print(a, b, c)

1 2 ['3', '4', '5']

In [17]:
# объединение при помощи *
A = [1, 2, 3]
B = (4, 5, 6)
C = {7, 8, 9}

[*A, *B, *C]

[1, 2, 3, 4, 5, 6, 8, 9, 7]

In [18]:
dictionary = {1 : 'one', 2 : 'two'}
a, b = dictionary.items()
print(a, b)

(1, 'one') (2, 'two')

In [20]:
# использование .get() для доступа к элементу словаря без ошибки
people = {
    'May' : 'blue', 
    'John' : 'gray', 
    'Sveta' : 'red'
}

people.get('Jim', 'этого имени нет')
# people['Jim']

'этого имени нет'

In [22]:
# использование .setdefault() - создаёт элемент, если его нет
people = {
    1 : 'one', 
    2 : 'two', 
    3 : 'three'
}

people.setdefault(3, 'four')
people.setdefault(4, 'four')
print(people)

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [23]:
# параметры sep и end в print()
nums = [1, 2, 3, 4, 5, 6, 7]

print(*nums, sep='--')
print(*nums, end='<====')

1--2--3--4--5--6--7
1 2 3 4 5 6 7<====

In [24]:
# отрицательные индексы
elements = ('a', 'b', 'c', 'd', 'e', 'f')
print(elements[-1])
print(elements[::-1])

f
('f', 'e', 'd', 'c', 'b', 'a')

In [26]:
# else в блоках for и while
for num in range(11):
    if num == 10:
        print(num)
        break

else:
    print('до 10 мы не дошли')

10

In [28]:
i = 0
while i < 10:
    i += 1 

    if i == 10:
        print(i)
        break
else:
    print('i != 10 всегда')

10

In [29]:
# обмен значениями в одну строку
x, y = 1, 2
print(f'{x=}, {y=}')

x, y = y, x 
print(f'{x=}, {y=}')

x=1, y=2
x=2, y=1

In [31]:
# тернарный оператор
a = 11
b = 13 if a == 12 else 14
b

14

In [32]:
# list comprehensions
print(
    [i for i in range(10)], 
    [i for i in range(10) if i % 2 == 0],
    [i if i % 2 == 0 else '_' for i in range(10)],
    sep='\n'
)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]
[0, '_', 2, '_', 4, '_', 6, '_', 8, '_']

In [33]:
{x : y for x in range(10) for y in 'a'*10}

{0: 'a',
 1: 'a',
 2: 'a',
 3: 'a',
 4: 'a',
 5: 'a',
 6: 'a',
 7: 'a',
 8: 'a',
 9: 'a'}

In [34]:
[[j for j in range(3)] for i in range(4)]

[[0, 1, 2], [0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [35]:
# args, kwargs
def main(*args, **kwargs):
    print(args)
    print(kwargs)

main(4, 5, 6, one=1, two=2, three=3)

(4, 5, 6)
{'one': 1, 'two': 2, 'three': 3}

In [36]:
def nothing():
    ...

nothing()

In [37]:
# использование itertools поможет избежать вложенных циклов
list_a = [1, 2020, 70]
list_b = [2, 4, 7, 2000]
list_c = [3, 70, 7]

for a in list_a:
    for b in list_b:
        for c in list_c:
            if a + b + c == 2077:
                print(a, b, c)

70 2000 7

In [38]:
from itertools import product

list_a = [1, 2020, 70]
list_b = [2, 4, 7, 2000]
list_c = [3, 70, 7]

for a, b, c in product(list_a, list_b, list_c):
    if a + b + c == 2077:
        print(a, b, c)

70 2000 7

In [39]:
# есть способ создавать переменную сразу в print() или в условии
person = "Jim"
print(person)

Jim

In [40]:
print(person := "Jim")

Jim

In [41]:
# можно объединять словари таким образом
cities_us = {'New York City': 'US', 'Los Angeles': 'US'}
cities_uk = {'London': 'UK', 'Birmingham': 'UK'}

cities_us | cities_uk

{'New York City': 'US',
 'Los Angeles': 'US',
 'London': 'UK',
 'Birmingham': 'UK'}

In [42]:
{**cities_us, **cities_uk}

{'New York City': 'US',
 'Los Angeles': 'US',
 'London': 'UK',
 'Birmingham': 'UK'}

In [43]:
data = {
    'name' : 'Jack', 
    'age' : 33, 
    'country' : 'UK'
}

'name is %(name)s, age is %(age)s, country is %(country)s' % data

'name is Jack, age is 33, country is UK'